docker/
docker-compose.yml
Dockerfile
documents/
environment.yml
Jenkinsfile
README.md
.venv/
*.mp4
__pycache__
.coverage
.dockerignore
.envrc
.idea
.git
.gitattributes
.gitignore
.github/
.mypy_cache
.pytest_cache
.vscode
deb_build/opt/
build/
