-r requirements_linux.txt
coverage>=5.0.3
mypy>=0.971
mypy-extensions>=0.4.3
pycodestyle>=2.9.1
pydocstyle>=6.1.1
pylint~=2.15.0
pylint-quotes>=0.2.3
pytest>=4.4.0
pytest-qt>=4.2.0
pytest-timeout>=1.4.1
pytest-xdist>=1.27.0
pytest-xvfb~=2.0.0  # 3.0.0 is missing pytest_xvfb.xvfb_available() check so stuck with 2.0.0 for now  
stubs>=1.0.0
cx-freeze>=6.14.9
freezegun~=1.2.2
