-r submodules/blink-detection/requirements.txt
pyside6==6.4.2 # Note in github actions you'll need to match Qt version https://stackoverflow.com/questions/77707139/libqt6core-so-6-version-qt-6-6-not-found
pillow~=10.2.0
pyqtgraph~=0.13.3
ecdsa~=0.18.0
playsound==1.3.0
vext==0.7.6 # needed for playsound
