-r submodules/blink-detection/requirements.txt
pyside6==6.7.2
pillow~=10.2.0
pyqtgraph~=0.13.3
ecdsa~=0.18.0
# types-pywin32
playsound~=1.3.0
# vext==0.7.6 # needed for playsound
# vext.gi==0.7.4 # needed for playsound
