[Desktop Entry]

# The type of the thing this desktop file refers to (e.g. can be Link)
Type=Application

# The application name.
Name=DryEye Defender

# Tooltip comment to show in menus.
Comment=Detect blinks

# The path (folder) in which the executable is run
Path=/opt/dryeye_defender

# The executable (can include arguments)
Exec=/opt/dryeye_defender/dryeye_defender

# The icon for the entry, using the name from `hicolor/scalable` without the extension.
# You can also use a full path to a file in /opt.
Icon=/usr/share/icons/hicolor/scalable/apps/blink.svg
